@font-face {
    font-family: RecklessNeue;
    src: url("/font/FuturaLT/RecklessNeue-Regular.otf") format("opentype");
}
@font-face {
    font-family: RecklessNeue_Book;
    src: url("/font/FuturaLT/RecklessNeue-Book.otf") format("opentype");
}
@font-face {
    font-family: RecklessNeue_Light;
    src: url("/font/FuturaLT/RecklessNeue-Light.otf") format("opentype");
}
/*
@font-face {
    font-family: AEH;
    src: url("/font/Avenir-Heavy.woff") format('woff');
}*/
