.full_page_slider {
    width: 100vw;
    height: 630px;
    margin-top: 7vw;
}

.full_page_slider .owl-carousel {
    width: 100%;
    height: 630px;
    position: relative;
    overflow: hidden;
}

.full_page_slider .owl-carousel .owl-stage-outer,
.owl-carousel.owl-drag .owl-item,
.owl-carousel .owl-stage {
    height: 630px;
    overflow: hidden;
}

.full_page_slider .owl-carousel .item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 45px;
    color: #b3b3b3;
    font-size: 18px;
    position: relative;
    filter: brightness(0.3);
}

.full_page_slider .name {
    width: 123px;
    position: relative;
    z-index: 1;
}

.full_page_slider .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.full_page_slider p {
    padding: 0 0 2px;
    border-bottom: 1px solid #b3b3b3;
    letter-spacing: -1px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

.full_page_slider .item div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    opacity: 0;
}

.full_page_slider .item div p {
    padding: 0 0 2px;
    letter-spacing: -1px;
    font-size: 18px;
    color: white;
}

.full_page_slider .item div a {
    color: #7f36fa;
    cursor: pointer;
    padding: 0;
    border-bottom: 1px solid #7f36fa;
}

.full_page_slider .owl-carousel .center .item div {
    opacity: 1;
}

.full_page_slider .owl-carousel .center .item p {
    opacity: 1;
}

.full_page_slider .owl-carousel .center .item {
    filter: brightness(1);
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: flex;
}

.owl-carousel .owl-dots {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 49%;
    position: relative;
    z-index: 3;
    bottom: 100px;
    margin: 0 auto;
}

.owl-carousel button.owl-dot {
    background: #b4b4b4;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 12px 0 0;
}

.owl-carousel button.active {
    background: #f9ac90;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.owl-carousel button.owl-dot:active,
.owl-carousel button.owl-dot:focus {
    outline: none;
}

.slide_item {
    padding: 20px;
}

.owl-nav {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: -50%;
    z-index: 3;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background-color: #8739f6;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16%;
}

.owl-carousel .owl-nav button.owl-next {
    transform: rotate(180deg);
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:active,
.owl-carousel .owl-nav button.owl-prev:active {
    outline: none;
}


/*accordion style*/
/*section4*/

.section4 {
    color: black;
    padding: 105px 0 195px;
}

.section4 .container_box {
    flex-direction: column;
    justify-content: flex-start;
}

.section4 .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section4 .top .left_box {
    width: 706px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section4 .title {
    padding: 9px 0;
    border-bottom: 2px solid #bdb4b4;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin: 65px 0 35px;
}

.section4 .left_box .title:first-of-type {
    margin: 0px 0 35px;
}

.section4 .quick_info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section4 .quick_info .info {
    list-style: none;
    float: left;
}

.section4 .accordion {
    width: 100%;
}

.section4 .card {
    border: none;
}

.section4 .card-body {
    padding: 0;
}

.section4 .text {
    font-size: 18px;
    font-weight: 400;
    width: 95%;
    margin: 0 0 30px;
}

.section4 .bold_text {
    font-weight: 600;
    margin: 0 0 40px;
}

.section4 .btn_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 0 20px;
}

.section4 .btn_box .black_btn,
.section4 .btn_box .white_btn {
    width: 220px;
    height: 49px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s;
    line-height: 1.2;
    border: 2px solid black;
}

.section4 .btn_box .black_btn {
    background-color: black;
    color: white;
    margin: 0 30px 0 0;
}

.section4 .btn_box .black_btn:hover {
    background-color: white;
    color: black;
}

.section4 .btn_box .white_btn {
    background-color: white;
    color: black;
}

.section4 .btn_box .white_btn:hover {
    background-color: black;
    color: white;
}

.section4 .right_box {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section4 .right_box .title {
    margin: 45px 0 35px;
}

.section4 .right_box .title:first-of-type {
    margin: 0px 0 35px;
}


.section4 .img_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section4 .img_box .img {
    width: 145px;
    height: 105px;
    background-color: #ebebeb;
    margin: 0 0 10px;
}

.section4 .view {
    font-size: 12px;
    color: #b3b3b3;
    cursor: pointer;
    transition: all .5s;
    margin: 10px 0 0;
    cursor: pointer;
}

.section4 .view:hover {
    text-decoration: none;
    color: #8739f6;
}

.section4 .map {
    width: 100%;
    margin: 0 0 5px;
}

.section4 .map img {
    width: 100%;
}

.section4 .adress {
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0 0;
}

.section4 .bottom {
    width: 725px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section4 .clm {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section4 .clm .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 15px;
}

.section4 .clm .row span {
    color: #b3b3b3;
    font-size: 11.8px;
}

.section4 .clm .row p {
    width: auto;
    font-size: 17.9px;
    margin: 0;
}


@media all and (max-width:1600px) {

    .full_page_slider,
    .full_page_slider .owl-carousel,
    .full_page_slider .owl-carousel .owl-stage-outer,
    .owl-carousel.owl-drag .owl-item,
    .owl-carousel .owl-stage {
        height: 600px;
    }
}

@media all and (max-width:1440px) {

    .full_page_slider,
    .full_page_slider .owl-carousel,
    .full_page_slider .owl-carousel .owl-stage-outer,
    .owl-carousel.owl-drag .owl-item,
    .owl-carousel .owl-stage {
        height: 540px;
    }
}

@media all and (max-width:1280px) {

    .full_page_slider .owl-carousel,
    .full_page_slider .owl-carousel .owl-stage-outer,
    .owl-carousel.owl-drag .owl-item,
    .owl-carousel .owl-stage,
    .full_page_slider {
        height: 480px;
    }
}

@media all and (max-width:1024px) {
    .section4 .top .left_box {
        width: 500px;
    }

    .section4 .right_box {
        width: 300px;
    }

    .section4 .quick_info {
        width: 63%;
    }

    .section4 .btn_box {
        width: 100%;
    }
}

@media all and (max-width:800px) {
    .full_page_slider {
        margin: 145px 0 0;
    }

    .owl-nav {
        width: 86%;
    }

    .owl-carousel .owl-dots {
        width: 89%;
    }

    .section4 .top {
        flex-direction: column;
    }

    .section4 .bottom {
        width: 100%;
        flex-direction: column;
    }

    .section4 .top .left_box,
    .section4 .right_box,
    .section4 .clm {
        width: 100%;
        padding: 0 30px;
    }

    .section4 {
        padding: 50px 0 72px;
    }

    .section4 .title {
        font-size: 10.5px;
        margin: 65px 0 35px;
    }

    .section4 .quick_info .info {
        font-size: 16px;
    }

    .section4 .quick_info {
        width: 255px;
    }

    .section4 .text {
        font-size: 14px;
    }

    .section4 .btn_box .black_btn,
    .section4 .btn_box .white_btn {
        width: 185px;
        height: 42px;
        font-size: 13.5px;
    }

    .section4 .btn_box {
        margin: 0;
    }

    .section4 .right_box .title,
    .section4 .left_box .title,
    .section4 .left_box .title:first-of-type {
        margin: 30px 0 35px;
    }

    .section4 .img_box .img {
        width: 121px;
        height: 87px;
    }

    .section4 .view {
        font-size: 10.5px;
    }

    .section4 .clm .row p {
        font-size: 16px;
    }

    .section4 .clm .row span {
        font-size: 10.5px;
    }

    .section4 .quick_info .wifi_icon {
        width: 23px;
        margin: 0 9px 0 4px;
    }

}

@media all and (max-width:500px) {
    .section4 .img_box .img {
        width: 24.6vw;
        height: 87px;
    }
}

@media all and (max-width: 425px) {

    .section4 .btn_box .black_btn,
    .section4 .btn_box .white_btn {
        width: 37vw;
        font-size: 2.9vw;
    }

    .section4 .top .left_box,
    .section4 .right_box,
    .section4 .clm {
        padding: 0 5.2vw;
    }
}

@media all and (max-width:320px) {
    .section4 .clm .row p {
        font-size: 14px;
    }

}
