@import url("slider_for_three_item.css");
@import url("section2_style_for_Home___memb.css");
@import url("slider.css");

.section1 {
    background-image: url(/img/section1_bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13vw 0 12vw;
}

.section1 p {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 15px;
}

.section1 .btn_box,
.section6 .btn_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.8vw 0 2.5vw;
}

.btn {
    width: 220px;
    height: 46px;
    padding: 0;
}

.section1 .purple_btn,
.section6 .purple_btn {
    margin: 0 20px 0 0;
}

.section6 .purple_btn {
    color: white;
    width: 200px !important;
}

.section6 .purple_btn:hover {
    color: #8739f6;
}

.section2 {
    background-image: url(/img/section2_bg.png);
    background-position: 100% 96%;
    background-repeat: no-repeat;
    background-size: 45%;
}

.section4 {
    padding: 11.1vw 0 12.2vw;
}

.section4 .container_box,
.section5 .container_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section4 .left,
.section4 .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section4 .left,
.section5 .left {
    width: 405px;
}

.section4 .right {
    width: 760px;
}

.section4 .right img {
    width: 100%;
}

.section4 h1,
.section5 h1,
.section6 h1 {
    margin: 15px 0 25px;
    font-family: RecklessNeue;
    letter-spacing: 1px;
}

.section4 .left .text:first-of-type {
    width: 86%;
    margin: 0 0 55px;
}

.section4 .left .img_box {
    margin-top: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.section4 .icon1 {
    width: 174px;
    margin: 0 60px 0 0;
}

.section4 .icon2 {
    width: 66px;
    margin: 0 0 30px;
}

.section4 .icon3 {
    width: 163px;
    margin: 0px 55px 0 0;
}

.section4 .icon4 {
    width: 105px;
    margin: 0 0 10px 0;
}

.section4 .icon5 {
    width: 132px;
    margin: 38px 0 0;
}

.section4 .right h6 {
    margin: -3.5vw 0 0;
}

.section4 .right h1 {
    width: 70%;
}

.section4 .right .text {
    width: 62%;
}

.section4 a {
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 2.6vw 0 0;
    text-decoration: none;
    line-height: 18px;
    border-bottom: 1px solid black;
    width: max-content;
    transition: all .5s;
}

.section4 a:hover {
    color: #8739f6;
    border-color: #8739f6;
}

.section5 {
    background-color: #ececec;
    padding: 8.8vw 0 6.8vw;
}

.section5 .left,
.section5 .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section5 .left {
    width: 435px;
}

.section5 .right {
    width: 760px;
}

.sliderMem .item {
    padding: 0 45px 0 0 !important;
}


.section5 .left .text {
    margin: 0 0 21px;
}


.section5 a {
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    line-height: 18px;
    border-bottom: 1px solid black;
    width: max-content;
    transition: all .5s;
}

.section5 a:hover {
    color: #8739f6;
    border-color: #8739f6;
}

.section6 {
    justify-content: flex-end;
    padding: 9.8vw 0 13.5vw;
}

.section6 .container_box {
    max-width: 1562px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 0 auto;
}

.section6 .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section6 .left {
    width: 470px;
}

.section6 .left .text {
    margin: 0 0 83px;
}

.section6 .left .text:last-of-type {
    padding-left: 18px;
    margin: 21px 0 0;
}

.section6 a {
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    line-height: 18px;
    border-bottom: 1px solid black;
    width: max-content;
    margin-left: 18px;
}

.section6 .accordion {
    width: 100%;
}

.section6 .card {
    width: 100%;
    border: none;
    margin: 0 0 20px;
}

.section6 .card-header {
    width: 100%;
    border-radius: 15px 15px 0 0 !important;
    border: none;
    padding: 18px !important;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    cursor: pointer;
    transition: all .5s;
    background-color: #883bf4;
    color: white;
}

.section6 .collapsed {
    background-color: #f5f5f5;
    color: black;
    border-radius: 15px !important;
    transition: all .5s;
}

.section6 .collapsed:hover {
    background-color: #883bf4;
    color: white;
}

.section6 .card-body {
    border-radius: 0 0 15px 15px !important;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin-top: 1px;
}


.section6 img {
    max-width: 45vw;
    width: 100%;
}

@media all and (max-width:1600px) {
    .section6 .container_box {
        max-width: 1400px;
    }

}


@media all and (max-width:1440px) {
    .section6 .container_box {
        max-width: 1319px;
    }
}

@media all and (max-width:1280px) {

    .section6 .container_box {
        max-width: 1200px;
    }
}

@media all and (max-width:1200px) {
    .section1 {
        background-position: 57% 52%;
    }

    .section2 {
        background-position: 100% 129%;
        background-size: 51%;
    }

    .section4 .left {
        width: 37%;
    }

    .section4 .right {
        width: 530px;
    }

    .section5 .right {
        width: 473px;
    }

    .section4 .right h1 {
        width: 100%;
    }

    .section4 .right .text {
        width: 92%;
    }

    .section6 .container_box {
        max-width: 1004px;
    }

    .section6 img {
        max-width: 44vw;
    }
}

@media all and (max-width: 1024px) {
    .section6 .container_box {
        max-width: 955px;
    }
}

@media all and (max-width:800px) {

    .section1 {
        background-image: url(/img/section1_bg_mob.png);
        padding: 170px 0 308px;
    }

    .section1 .text_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .section1 h1 {
        margin: 24px 0 0;
    }

    .section1 .btn_box {
        justify-content: center;
        margin: 47px 0 55px;
    }

    .btn {
        width: 190px;
        height: 41px;
    }

    .section1 .purple_btn,
    .section6 .purple_btn {
        margin: 0 8px 0 0;
    }

    .section4 .left {
        display: none;
    }

    .section4 .right {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .section4 .right h6 {
        margin: 0;
        width: 78%;
    }

    .section4 {
        padding: 38px 0 100px;
    }

    .section4 .right h1 {
        margin: 30px 0 35px;
        width: 78%;
    }

    .section4 .right .text,
    .section5 .left {
        width: 78%;
    }

    .section4 a {
        margin: 40px auto 0 11vw;
    }

    .section4 .container_box,
    .section5 .container_box {
        max-width: 100%;
    }

    .section5 .container_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section5 {
        padding: 82px 0 100px;
    }

    .section5 h1 {
        margin: 30px 0 45px;
        width: 92%;
    }

    .section5 .right {
        width: 87%;
    }

    .section6 {
        padding: 92px 0 120px;
    }

    .section6 .container_box {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .section6 img {
        max-width: 90%;
        margin: 0 0 100px auto;
    }

    .section6 .left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .section6 h1 {
        margin: 30px 0 55px;
    }

    .section6 h6,
    .section6 h1,
    .section6 .left .text {
        width: 78%;
    }

    .section6 .card {
        width: 90%;
        margin: 0 auto 20px;
    }

    .section6 .card-header {
        padding: 18px 9px 18px 11px !important;
    }

    .section6 .left .text:last-of-type {
        padding: 0;
    }

    .section6 a {
        margin: 0 auto 0 11vw;
    }

}

@media all and (max-width:500px) {

    .slider_tree .owl-carousel {
        max-width: 85%;
    }
}

@media all and (max-width:375px) {
    .btn {
        font-size: 14px;
        width: 154px;
    }

    .section1 p {
        font-size: 11px;
    }

    h6 {
        font-size: 14px;
    }

}
