h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    cursor: default;
}

p {
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 15px 0 0;
    overflow: hidden;
    cursor: default;
}

.container_box {
    max-width: 1200px;
    width: 100%;
}

.section1 {
    padding: 14vw 0 7vw;
    background-image: url(../img/cloub_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section1 .container_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 h1 {
    font-family: 'Poppins', sans-serif;
}

.section1 .text_mob {
    display: none;
}

.section1 form {
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin: 55px 0 94px;
}

.section1 form .destination_box {
    width: 100%;
}

.section1 form label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
}

.section1 form label img {
    filter: invert(1);
    margin: 2px 0 0 15px;
}

.section1 form .input_box {
    width: 100%;
    height: 46px;
    background-color: #dedff2;
    border: none;
    border-radius: 8px;
    text-align: left;
    padding: 0 15px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.section1 input::placeholder {
    color: black;
}

.section1 form .input_box:focus,
.section1 form .input_box:active {
    outline: none;
}

.section1 form div:last-of-type .input_box {
    border-right: none;
}

.d-flex,
.section1 .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.section1 .row {
    margin: 0;
}

.d-flex .clm,
.section1 .row .clm {
    width: 48.6%;
}

.d-flex .clm input,
.section1 .row .input_box {
    width: 100%;
    height: 46px;
    background-color: #dedff2;
    border: none;
    border-radius: 8px;
    text-align: left;
    padding: 0 15px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(/img/arrow_down.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.section1 .row .input_box {
    margin: 0;
}

.checkbox {
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    margin-right: 11px;
    position: relative;
    z-index: 7;
    background-color: #dedff2;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
    background-color: #883ff4;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
    background-color: #883ff4;
}



.section1 .purple_btn {
    font-size: 34.6px;
    font-weight: 500;
    letter-spacing: 0;
    width: 110px;
    height: 55px;
    margin-top: 30px;
    cursor: pointer;
}

.section1 .guest {
    width: 42.5vw;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    color: black;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 33px 27px 33px 40px;
    left: -15vw !important;
    top: 1.3vw !important;
    border: none;
    margin: 0;
    z-index: 9;
}

.section1 .guest .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
}

.section1 .guest .count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 72%;
}

.section1 .guest .text {
    font-size: 14px;
    font-weight: 400;
}

.section1 .guest span {
    cursor: pointer;
}

.section1 .guest span:active,
.section1 .guest span:focus {
    background-color: transparent;
}

.section1 .guest .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .guest .minus,
.section1 .guest .plus,
.section1 .guest .plus_child {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #8739f6;
    font-size: 24px;
}

.section1 .guest input {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.section1 .guest .count:nth-of-type(3) {
    width: 100%;
    margin: 5px 0 10px;
    justify-content: flex-start;
}


.section1 .guest .age {
    width: 205px;
    height: 47px;
    border: 1px solid #ededec;
    border-radius: 6px;
    padding: 0 10px;
    background-color: white;
    background-image: url(../img/arrow_down.png);
    background-position: 93% center;
    background-repeat: no-repeat;
    /*    background-size: 4%;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    letter-spacing: -1px;
    cursor: pointer;
    margin: 0 0 0 38px;
}

.section1 .guest .add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 400;
    letter-spacing: 0;
}

.section1 .guest .add p {
    cursor: pointer;
}

.section1 .guest .black_btn {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 172px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 300;
}

.section1 .guest .black_btn:hover {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 25%, #a849fc 55%);
}

.dropdown-toggle::after {
    display: none;
}

.section1 .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section1 .bottom .text {
    font-size: 16px;
}

.section1 .bottom .img_box {
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .bottom .icon1 {
    width: 125px;
}

.section1 .bottom .icon2 {
    width: 125px;
}

.section1 .bottom .icon3 {
    width: 75px;
}

.section1 .bottom .icon4 {
    width: 140px;
}

.section1 .bottom .icon5 {
    width: 125px;
}

.section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 8vw 0 9vw;
}

.section2 h6 {
    width: 100%;
    text-align: center;
}

.section2 .container_box {
    max-width: 1640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section2 .owl-carousel {
    margin-top: 83px;
}

.section2 .owl-item {
    /*    width: 1200px!important;*/
    /*    margin: 0 178px 0 0;*/
}

.section2 .owl-carousel .owl-nav.disabled {
    display: flex;
}

.section2 .owl-nav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    margin: 95px 0 0;
    padding: 0 0 0 101px;
}

.section2 .owl-carousel .owl-nav button.owl-next span,
.section2 .owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.section2 .owl-carousel .owl-nav button.owl-next,
.section2 .owl-carousel .owl-nav button.owl-prev {
    background-color: #8739f6;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 67px 0 0;
    background-image: url(/img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16%;
}

.section2 .owl-carousel .owl-nav button.owl-next:active,
.section2 .owl-carousel .owl-nav button.owl-next:focus,
.section2 .owl-carousel .owl-nav button.owl-prev:active,
.section2 .owl-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}

.section2 .owl-carousel .owl-nav button.owl-next {
    transform: rotate(180deg);
}

.section2 .num {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: underline;
    /* position: relative; */
    margin: -36px 0 0 340px;
    width: auto;
    text-align: left;
}


.section2 .serch_res {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
}


.search_section .serch_res {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 40px;
    margin: 0 0 70px;
}

.serch_res .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    color: black;
}

.serch_res .left div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.serch_res .left .img {
    width: 100%;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.serch_res .left .img img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.serch_res .left .price_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px;
}

.serch_res .left .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.serch_res .left .price p {
    font-size: 50px;
    color: white;
}

.serch_res .left .price span {
    color: #b3b3b3;
    font-size: 18px;
    margin: 0 0 0 7px;
}

.serch_res .left .stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.serch_res .left .stars img {
    width: 16px;
    position: relative;
}



.serch_res .left .white_text {
    background-color: white;
    font-size: 24px;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 2px 0;
    letter-spacing: -1px;
}

.serch_res .left .black_text {
    background-color: black;
    font-size: 24px;
    width: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: white;
    padding: 2px 0;
    letter-spacing: -1px;
}

.serch_res .left .black_text span {
    font-size: 18px;
    color: #b3b3b3;
    margin: 0 0 0 15px;
}

.serch_res .right .btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.serch_res .right .btn_box .black_btn,
.serch_res .right .btn_box .white_btn {
    width: 220px;
    height: 49px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s;
    line-height: 1.2;
    border: 2px solid black;
}

.serch_res .right .btn_box .black_btn {
    background-color: black;
    color: white;
    margin: 0 20px 0 0;
}

.serch_res .right .btn_box .black_btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.serch_res .right .btn_box .white_btn {
    background-color: white;
    color: black;
}

.serch_res .right .btn_box .white_btn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.serch_res .right .btn_box .white_btn img {
    margin: 0 0 0 10px;
    width: 12px;
    transition: all .5s;
}

.serch_res .right .btn_box .white_btn:hover img {
    filter: invert(1);
}

.serch_res .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0px;
    padding-left: 70px;
    width: 600px;
}

.serch_res .right .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.serch_res .right .box:nth-of-type(2) {
    width: 91%;
}

.serch_res .right h3 {
    font-size: 30px;
    color: #f9ac90;
    margin: 0;
}

.serch_res .right .box p span {
    font-size: 18px;
    color: #b3b3b3;
}

.serch_res .right h1 {
    font-weight: 400;
    font-size: 2.5em;
    margin: 15px 0 32px;
}

.serch_res .right .box .purple {
    font-size: 18px;
    color: #8739f6;
    font-weight: 600;
    letter-spacing: -1px;
}

.serch_res .right .box .purple span {
    font-size: 18px;
    color: #8739f6;
    font-weight: 400;
}

.serch_res .right .title {
    color: black;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 2px solid #bdb4b4;
    padding: 7px 0;
    width: 100%;
    margin: 25px 0;
}

.serch_res .p {
    font-size: 18px;
    margin: 0 0 10px;
}

.serch_res .quick_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 71%;
}

.serch_res .quick_info li {
    width: 200px;
}

.serch_res .quick_info .info {
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.serch_res .quick_info .info div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.serch_res .quick_info img {
    margin: 0 11px 0 0;
}

.serch_res .quick_info .night_icon {
    width: 21px;
}

.serch_res .quick_info .bed_icon {
    width: 36px;
}

.serch_res .quick_info .user_icon {
    width: 20px;
    margin: 0 13px 0 4px;
}

.serch_res .quick_info .wifi_icon {
    width: 27px;
}



.slider_tree {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/section3_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.8vw 0;
}


.slider_tree .owl-carousel {
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
}

.owl-carousel .owl-stage {
    height: auto;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.slider_tree .item {
    width: 100%;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 21px;
    letter-spacing: -1px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
}

.slider_tree .item h5 {
    font-size: 16px;
    color: #f9ac90;
    font-weight: 300;
}

.slider_tree .item .img_block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.slider_tree .item .img_block img {
    width: 100%;
}

.slider_tree .item .img_block p {
    width: 100px;
    text-align: center;
    background: white;
    color: black;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0;
}

.slider_tree .item .img_block .black {
    background-color: black;
    color: white;
}

.slider_tree .item h2 {
    color: black;
    font-size: 21px;
    font-weight: 300;
    margin: 0.53vw 0 0.79vw;
    line-height: inherit;
    overflow: hidden;
}

.slider_tree .item div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slider_tree .price_mem {
    color: #8739f6;
    font-size: 14px;
    font-weight: 600;
    width: 100%;

}

.slider_tree .price_mem span {
    text-decoration: line-through;
    font-weight: 300;
}

.slider_tree .item .stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 39%;
}

.slider_tree .item .price_box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider_tree .price_box p {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 300;
}

.slider_tree .price_box h1 {
    margin: 0;
    line-height: 1;
    font-size: 2em;
}

.slider_tree .price_box h1 span {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 300;
    float: right;
    padding: 0px 6px;
    line-height: initial;
}

.slider_tree .details {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 115px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin: 0 0 9px;
    font-weight: 300;
}


.slide:hover .item .details {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 25%, #a849fc 55%);
}

.slider_tree .owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.slider_tree .owl-carousel button.owl-dot {
    background: #b3b3b3;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.slider_tree .owl-carousel button.active {
    background: #8739f6;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.owl-carousel button.owl-dot:active,
.owl-carousel button.owl-dot:focus {
    outline: none;
}



.section3 {
    padding: 7vw 0;
    background-image: url(/img/BG1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .container_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 .left {
    width: 507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 0;
}


.section3 h1 {
    margin: 15px 0 44px;
    font-family: RecklessNeue;
    letter-spacing: 1px;
}

.section3 .text {
    font-size: 16px;
    margin-top: 65px;
}

.section3 .item {
    width: 510px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 21px 22px;
    letter-spacing: -1px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
}

.section3 .item h5 {
    font-size: 24px;
    color: #f9ac90;
    font-weight: 300;
    margin: 0 0 10px;
}

.section3 .item .img_block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.section3 .item .img_block img {
    width: 100%;
}

.section3 .item .img_block p {
    width: 170px;
    text-align: center;
    background: white;
    color: black;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0;
    margin: 0;
}

.section3 .item .img_block .black {
    background-color: black;
    color: white;
}

.section3 .item h2 {
    color: black;
    font-size: 38px;
    font-weight: 300;
    margin: 17px 0;
    line-height: inherit;
    overflow: hidden;
}

.section3 .item div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section3 .price_mem {
    color: #8739f6;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin: 0;
}

.section3 .price_mem span {
    text-decoration: line-through;
    font-weight: 300;
}

.section3 .item .stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.section3 .item .price_box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
}

.section3 .price_box p {
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 300;
    margin: 0 0 10px;
}

.section3 .price_box h1 {
    margin: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.section3 .price_box h1 span {
    font-size: 24px;
    color: #b3b3b3;
    font-weight: 300;
}

.section3 .details {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 170px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 9px;
    font-weight: 300;
    transition: all .5s;
    transition: border 0s;
    border: 2px solid black;
}

.section3 .details:hover {
    background: white;
    color: black;
}

.section3 .item .details:hover {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 25%, #a849fc 55%);
    border: 2px solid transparent;
    color: white;
}

.section4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.2vw 0 6.8vw;
}

.section4 .container_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 .destinations_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 115px 0 0;
}

.section4 .destinations_cont .box {
    width: 362px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 130px;
}

.section4 .img_box {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.section4 .img_box .text {
    background-color: black;
    font-size: 18px;
    width: 240px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: white;
    padding: 2px 0;
    letter-spacing: -1px;
    margin: 0;
}

.section4 .img_box img {
    position: absolute;
    max-width: 362px;
}

.section4 .info_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0;
}

.section4 .tittle {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
}

.section4 .location_box {
    display: flex;
    color: #b3b3b3;
    font-size: 18px;
}

.section4 .location_box img {
    margin: 0 5px 0 0;
    width: 20px;
}

@media all and (max-width:1440px) {
    .serch_res .left {
        width: 552px;
    }
}

@media all and (max-width:1280px) {
    .slider_tree .price_box h1 span {
        font-size: 21px;
    }

    .serch_res .right {
        padding-left: 50px;
        width: 460px;
    }

    .serch_res .left {
        width: 520px;
    }
}

@media all and (max-width:1200px) {

    .container_box {
        max-width: 900px;
    }

    .slider_tree .owl-carousel {
        max-width: 900px;
    }

    .slider_tree .item {
        height: 375px;
        padding: 15px;
    }

    .section2 .container_box {
        max-width: 900px;
    }


    .section2 .owl-nav {
        padding: 0;
    }
}

@media all and (max-width:1024px) {
    .section1 .bottom .img_box {
        width: 75%;
    }


}

@media all and (max-width:800px) {
    h1 {
        line-height: 1.3;
    }

    .section1 .container_box {
        max-width: 450px;
    }

    .section1 {
        padding: 180px 0 90px;
    }

    .section1 h1 {
        font-size: 32px;
    }

    .section1 form,
    .section1 .bottom .img_box {
        width: 100%;
    }

    .lightpick {
        width: 400px;
    }

    .section2 .container_box {
        max-width: 450px;
    }

    .section2 .serch_res {
        flex-direction: column;
    }

    .section2 {
        align-items: center;
        padding: 100px 0 80px;
    }

    .serch_res .left,
    .serch_res .right {
        width: 100%;
    }

    .serch_res .left .img {
        height: 400px;
    }

    .serch_res .right {
        padding: 20px;
    }

    .section2 .num {
        margin: -36px 0 0 200px;
    }

    .slider_cont .bg_box {
        display: none;
    }

    .slider_cont .modal_box {
        width: 80%;
        margin: 40px 0 32px;

    }

    .slider_cont .header {
        font-size: 12px;
    }

    .slider_cont .body h5 {
        width: 80%;
        font-size: 24px;
    }

    .slider_cont .body .btn_box {
        flex-direction: column;
    }

    .slider_cont .body .purple_btn {
        margin: 0 0 20px;
    }

    .slider_cont .body .title {
        width: 80%;
    }

    .slider_cont .header {
        padding: 18px 13px 18px 12px;
        justify-content: flex-end;
    }

    .slider_cont .header p {
        display: none;
    }

    .slider_cont .header .close {
        width: 30px;
    }

    .slider_tree {
        padding: 100px 0 80px;
    }

    .slider_tree h1 {
        width: 80%;
        text-align: center;
        margin-top: 35px;
    }

    .slider_tree .owl-carousel {
        width: 100%;
        max-width: 58%;
        margin-top: 60px;
    }

    .slide {
        width: 100%;
    }

    .slider_tree .item h5,
    .slider_tree .item .img_block p,
    .slider_tree .price_box h1 span {
        font-size: 20px;
    }

    .slider_tree .item .img_block p {
        width: 140px;
    }

    .slider_tree .item h2 {
        font-size: 30px;
        line-height: normal;
    }

    .slider_tree .price_mem,
    .slider_tree .price_box p {
        font-size: 14px;
        line-height: normal;
    }

    .slider_tree .item .stars img {
        width: 15px;
    }

    .slider_tree .item .price_box {
        margin-top: 44px;
    }

    .slider_tree .price_box h1 {
        font-size: 40px;
    }

    .slider_tree .details {
        width: 226px;
        height: 37px;
    }

    .slider_tree .price_box h1 {
        text-align: left;
    }

    .slider_tree .item {
        padding: 15px 17px;
        height: 509px;
    }

    .slider_tree .owl-carousel .owl-dots {
        margin-top: 38px;
    }


    .section3 .container_box {
        flex-direction: column-reverse;
        max-width: 450px;
    }

    .section3 .left {
        width: 100%;
        padding: 42px 31px 0;
    }

    .section3 {
        padding: 75px 0;
    }

    .section3 h1 {
        margin: 25px 0 62px;
        font-size: 36px;
    }

    .section3 .item .details {
        width: 144px;
        height: 38px;
        font-size: 13.3px;
        margin: 0 0 9px;
        font-weight: 300;
    }

    .section3 .item {
        margin: 0 auto;
        padding: 15px 16px;
        width: 420px;
    }

    .section3 .item h5 {
        font-size: 20px;
        margin: 0 0 10px;
    }

    .section3 .item .img_block p {
        width: 142px;
        font-size: 20px;
        padding: 2px 0;
    }

    .section3 .item h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section3 .price_mem {
        font-size: 14px;
    }

    .section3 .item .stars {
        width: 115px;
    }

    .section3 .item .price_box {
        margin-top: 40px;
    }

    .section3 .price_box p {
        font-size: 16px;
        margin: 0 0 5px;
    }

    .section3 .price_box h1 {
        margin: 0 5px 0 0;
        font-size: 40px;
    }

    .section3 .price_box h1 span {
        font-size: 20px;
    }

    .section4 {
        padding: 100px 0 80px;
    }

    .section4 .container_box {
        max-width: 450px;
    }

    .section4 .destinations_cont .box {
        width: 100%;
        margin: 0 0 50px;
    }

    .section4 .img_box img {
        max-width: 450px;
    }

    .section4 .img_box {
        height: 307px;
    }
}

@media all and (max-width:500px) {
    .slider_tree .item {
        height: 447px;
    }

    .slider_tree .owl-carousel {
        max-width: 85%;
    }

    .section4 .img_box img {
        max-width: 90%;
    }

    .section2 .container_box {
        width: 100%;
    }
}


@media all and (max-width:425px) {
    h1 {
        font-size: 28px;
        line-height: 1.4;
    }

    .section3 .item {
        width: 100%;
    }

    .section1 .container_box {
        max-width: 310px;
    }

    .section1 h1 {
        font-size: 28px;
        line-height: 1.4;
        text-align: center;
    }

    .section1 form {
        flex-wrap: wrap;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .d-flex .clm,
    .section1 .row .clm {
        width: 100%;
    }

    .section1 .bottom .text {
        text-align: center;
    }

    .lightpick {
        left: 22px !important;
    }

    .section1 .guest {
        width: 120%;
        left: -7% !important;
    }

    .section1 .guest .count {
        width: 100%;
    }

    .section1 .bottom .img_box {
        flex-wrap: wrap;
    }

    .section1 .bottom .img_box img {
        margin: 0 0 15px;
    }

    .serch_res .quick_info {
        width: 100%;
    }
    .section4 .destinations_cont
    {
        margin: 60px 0 0;
    }

    .section4 .container_box {
        max-width: 310px;
    }

    .section4 h1 {
        text-align: center;
    }

    .section4 .img_box img {
        max-width: 310px;
    }

    .section4 .img_box {
        height: 205px;
    }

}

@media all and (max-width:375px) {

    h6 {
        font-size: 14px;
    }

    .lightpick {
        width: 310px;
        padding: 15px 7px;
    }

    .lightpick__month {
        width: 300px;
    }

    .section1 .guest {
        width: 100%;
        left: -0% !important;
        padding: 15px 7px;
    }

    .section2 .owl-nav {
        margin-left: 15px;
    }

    .section2 .owl-carousel .owl-nav button.owl-next {
        margin: 0;
    }

    .section4 .destinations_cont {
        margin: 60px 0 0;
    }

    .serch_res .left .price p {
        font-size: 35px;
    }

    .serch_res .right .btn_box .black_btn,
    .serch_res .right .btn_box .white_btn {
        font-size: 13px;
    }

    .serch_res .left .price span {
        font-size: 13px;
    }

    .slider_tree .item .price_box {
        margin-top: 30px;
    }

    .slider_tree .item .stars {
        width: 51%;
    }

    .section3 .item .price_box {
        width: 100%;
    }

    .section3 .price_mem {
        width: auto;
    }

    .section3 .item .details {
        margin-top: 15px;
    }

    .section3 .left {
        width: 100%;
        padding: 42px 0 0;
    }

    .section3 .container_box {
        max-width: 310px;
    }

    .section3 .price_box h1 {
        font-size: 30px;
    }

    .section3 .price_box h1 span {
        font-size: 13px;
    }

}

@media all and (max-width:320px) {
    .slider_cont .modal_box {
        width: 300px;
    }

    .serch_res .right .btn_box {
        flex-direction: column;
    }

    .serch_res .right .btn_box .white_btn {
        margin: 15px 0 0;
    }
}
