@import url("lightpick.css");
@import url("fullPage_slider___accordion.css");

header {
    position: relative;
}

.info_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/palm.png);
    background-position: 104% 57%;
    background-repeat: no-repeat;
    background-size: 40%;
    padding: 68px 0 48px;
}

.info_section .content_box {
    width: 100%;
    max-width: 1175px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    letter-spacing: -1px;
}

.info_section .left {
    display: flex;
    flex-direction: column;
    color: black;
    line-height: 1.2;
    width: 55%;
}

.info_section .left h3 {
    color: #f9ac90;
}

.info_section .left .name_apart {
    font-size: 40px;
    font-weight: 500;

}

.info_section .stars {
    margin: 30px 0 35px;
}

.info_section .info {
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    color: #8739f6;
}

.info_section .info span {
    font-weight: 600;
}

.info_section .info img {
    width: 12px;
    margin: 0 0 0 2px;
}

.info_section .add_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid #beb6b6;
    border-bottom: 1px solid #beb6b6;
    margin: 43px 0 0;
    padding: 45px 0;
    color: #b3b3b3;
    font-size: 18px;
}

.info_section .add_section div {
    width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.info_section .purple_btn {
    width: 295px;
    height: 65px;
    font-size: 24px;
    border: none;
    transition: border .5s;
}

.info_section .purple_btn:hover {
    border: 2px solid #8739f6;
}

.info_section .grey {
    color: #b3b3b3;
    font-size: 18px;
    transition: all .5s;
}

.info_section .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
    padding: 0px 10px 0;
}

.info_section .right div {
    width: 170px;
}

.info_section .right .expertInfo {
    width: 270px;
    margin: 0 0 0 30px;
}

.info_section .right .title {
    color: black;
    margin: 0;
}

.info_section .right .expert {
    border-radius: 50%;
    border: 1px solid #cccdcf;
    width: 170px;
    height: 170px;
    background-color: #eaeaec;
    background-size: contain;
    background-image: url(/img/Yasmin-Yonda.png);
    background-repeat: no-repeat;
    margin: 20px 0 30px;
}

.info_section .right p {
    margin: 0 0 15px;
}

.info_section .right .adress {
    color: #8739f6;
    font-weight: 600;
}

.info_section .right a {
    color: #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    cursor: pointer;
    transition: .5s;
}

.info_section .right a:hover {
    text-decoration: none;
    color: #8739f6;
    border-bottom: 1px solid #8739f6;
}

.search_section {
    width: 100vw;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 82px 0 30px;
}

.search_section .container_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_section .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.search_section .form .clm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 25px 0 0;
    font-size: 14px;
}

.search_section .clm label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
    height: 26px;
}

.search_section label img {
    margin: 0 9px 0 0;
}

.search_section input:active,
.search_section select :active,
.search_section input:focus,
.search_section select:focus {
    border: 1px solid #ededec;
    outline: none;
}



.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.form-control {
    width: 343px;
    height: 47px;
    border: 1px solid #ededec;
    border-radius: 6px;
    padding: 0 14px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url(/img/arrow_down.png);
    background-position: 93% center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.res_cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 38px;
}

.res_cont p {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.res_cont span {
    background-image: url(/img/arrow_left.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 65px;
    width: 10px;
    height: 13px;
}

.search_section .select {
    width: 343px;
    height: 47px;
    border: 1px solid #ededec;
    border-radius: 6px;
    padding: 0 14px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/img/arrow_down.png);
    background-position: 93% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-toggle::after {
    display: none;
}

.search_section .guest {
    width: 42.5vw;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    color: black;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 33px 27px 33px 40px;
    left: -15vw !important;
    top: 2.3vw !important;
    border: none;
    margin: 0;
    z-index: 9;
}

.search_section .guest .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
}

.search_section .guest .count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 72%;
}

.search_section .guest .text {
    font-size: 14px;
    font-weight: 400;
}

.search_section .guest span {
    cursor: pointer;
}

.search_section .guest span:active,
.search_section .guest span:focus {
    background-color: transparent;
}

.search_section .guest .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_section .guest .minus,
.search_section .guest .plus,
.search_section .guest .plus_child {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #8739f6;
    font-size: 24px;
}

.search_section .guest input {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.search_section .guest .count:nth-of-type(3) {
    width: 100%;
    justify-content: flex-start;
    margin-top: 5px;
}

.search_section .guest .age {
    width: 205px;
    height: 47px;
    border: 1px solid #ededec;
    border-radius: 6px;
    padding: 0 10px;
    background-color: white;
    background-image: url(/img/arrow_down.png);
    background-position: 93% center;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    letter-spacing: -1px;
    cursor: pointer;
    margin: 0 0 0 38px;
}

.search_section .guest .add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 400;
    letter-spacing: 0;
}

.search_section .guest .add p {
    cursor: pointer;
}

.search_section .guest .black_btn {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 172px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 300;
}

.search_section .guest .black_btn:hover {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 25%, #a849fc 55%);
}

.search_section .purple_btn {
    width: 91px;
    height: 50px;
    font-size: 29px;
    border-radius: 50px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_section .purple_btn:hover {
    border: 2px solid #8739f6;
}

.search_section .result_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 83px 0 73px;
}

.search_section .result_box .box {
    width: 82%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search_section .result_box .title {
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin: 0 100px 0 0;
}

.search_section .result_box div {
    display: flex;
    align-items: center;
}

.search_section .result_box div p {
    font-size: 25px;
    color: #b3b3b3;
    font-weight: 400;
}

.search_section .result_box p span {
    border-bottom: 1px solid #8739f6;
    color: #8739f6;
    margin: 0 14px 0 0;
}

.search_section .result_box a {
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 400;
    cursor: pointer;
}

.search_section .serch_res {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 40px;
    margin: 0 0 70px;
}

.serch_res .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 580px;
    color: black;
}

.serch_res .left .img {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    margin: 0 0 70px;
}

.serch_res .left .img img {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.serch_res .left .img .text_on_img {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.serch_res .left .white_text {
    background-color: white;
    font-size: 24px;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 2px 0;
    letter-spacing: -1px;
}

.serch_res .left .black_text {
    background-color: black;
    font-size: 24px;
    width: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: white;
    padding: 2px 0;
    letter-spacing: -1px;
}

.serch_res .left .black_text span {
    font-size: 18px;
    color: #b3b3b3;
    margin: 0 0 0 15px;
}

.serch_res .left .btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.serch_res .left .btn_box .black_btn,
.serch_res .left .btn_box .white_btn {
    width: 167px;
    height: 49px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s;
    line-height: 1.2;
    border: 2px solid black;
}

.serch_res .left .btn_box .black_btn {
    background-color: black;
    color: white;
    margin: 0 30px 0 0;
}

.serch_res .left .btn_box .black_btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.serch_res .left .btn_box .white_btn {
    background-color: white;
    color: black;
}

.serch_res .left .btn_box .white_btn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.serch_res .left .btn_box .white_btn img {
    margin: 0 0 0 10px;
    width: 12px;
    transition: all .5s;
}

.serch_res .left .btn_box .white_btn:hover img {
    filter: invert(1);
}

.serch_res .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0px;
    width: 50%;
    padding-left: 20px;
}

.serch_res .right .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.serch_res .right .box:nth-of-type(2) {
    width: 91%;
}

.serch_res .right .box h3 {
    font-size: 30px;
    color: #f9ac90;
    margin: 0;
}

.serch_res .right .box p span {
    font-size: 18px;
    color: #b3b3b3;
}

.serch_res .right h1 {
    font-weight: 400;
    font-size: 2.5em;
    margin: 15px 0 32px;
}

.serch_res .right .box .purple {
    font-size: 18px;
    color: #8739f6;
    font-weight: 600;
    letter-spacing: -1px;
}

.serch_res .right .box .purple span {
    font-size: 18px;
    color: #8739f6;
    font-weight: 400;
}

.serch_res .right .title {
    color: black;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid #bdb4b4;
    padding: 7px 0;
    width: 100%;
    margin: 25px 0;
}

.quick_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 71%;
}

.quick_info li {
    width: 200px;
}

.quick_info .info {
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.quick_info .info div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.quick_info img {
    margin: 0 11px 0 0;
}

.quick_info .night_icon {
    width: 21px;
}

.quick_info .bed_icon {
    width: 36px;
}

.quick_info .user_icon {
    width: 20px;
    margin: 0 13px 0 17px;
}

.quick_info .wifi_icon {
    width: 27px;
}

.section4 .quick_info .wifi_icon {
    width: 27px;
    margin: 0 13px 0 4px;
}

.quick_info .air_icon {
    width: 23px;
}

.quick_info .palm_icon {
    width: 24px;
}

.quick_info .pool_icon {
    width: 31px;
}

.serch_res .right .price_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bdb4b4;
    border-top: 2px solid #bdb4b4;
    margin-top: 50px;
    padding: 10px 0;
}

.serch_res .price_box div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch_res .price_box p {
    color: black;
    font-size: 50px;
    margin: 0 13px 0 0;
}

.serch_res .price_box span {
    color: #b3b3b3;
    font-size: 16px;
    text-align: left;
}

.serch_res .price_box .purple_btn {
    width: 250px;
    height: 60px;
    font-size: 24px;
}

.section5 {
    color: black;
    padding: 42px 0;
    background-image: url(/img/section5_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section5 .container_box {
    display: flex;
}

.section5 p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.section5 h1 {
    font-family: RecklessNeue;
    letter-spacing: 0;
}

.section5 .purple_btn {
    width: 175px;
    height: 86px;
    font-size: 55px;
    border-radius: 50px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 .purple_btn:hover {
    border: 2px solid #8739f6;
}

.section5 .container_box {
    justify-content: space-between;
    align-items: center;
}


@media all and (max-width:1280px) {
    .search_section .guest {
        left: -2vw !important;
    }
}

@media all and (max-width:1024px) {

    .info_section .right .expertInfo {
        width: 190px;
    }

    .search_section input,
    .search_section .select {
        width: 250px;
    }

    .search_section .guest {
        left: -11vw !important;
        width: 59.5vw;
    }


    .search_section .result_box .box {
        width: 100%;
    }

    .serch_res .left,
    .serch_res .right {
        width: 420px;
    }

    .search_section .serch_res {
        padding: 20px;
    }

    .serch_res .left .btn_box {
        width: 90%;
    }

    .section5 .purple_btn {
        width: 125px;
        height: 69px;
        font-size: 40px;
    }

    .section5 h1 {
        font-size: 44px;
    }

    .serch_res .price_box p {
        font-size: 47px;
    }

    .serch_res .price_box .purple_btn {
        width: 190px;
        height: 55px;
        font-size: 18px;
    }
}

@media all and (max-width:800px) {
    header {
        position: fixed;
    }

    header .container_box {
        max-width: 900px;
    }

    .info_section .content_box {
        width: 450px;
        padding: 0 30px;
    }

    .info_section .left h3 {
        font-size: 16.5px;
    }

    .info_section .left .name_apart {
        font-size: 27.5px;
    }

    .info_section .stars img {
        width: 10px;
    }

    .info_section .info {
        font-size: 12px;
        width: 100%;
    }

    .info_section .purple_btn {
        width: 160px;
        height: 33px;
        font-size: 14px;
        background-color: white;
        background: linear-gradient(90deg, white 75%, white 95%);
        border: 2px solid #8739f6;
        color: #8739f6;
        padding: 0;
    }

    .info_section {
        padding: 54px 0;
        background-image: none;
    }

    .info_section .left {
        margin: 0 auto;
        width: 100%;
    }

    .info_section .stars {
        margin: 20px 0;
    }

    .info_section .add_section {
        margin: 24px 0 0;
        padding: 23px 0;
    }

    .info_section .purple_btn:hover {
        background-color: none;
    }

    .info_section .add_section,
    .info_section .grey {
        font-size: 10px;
    }

    .info_section .right,
    .serch_res .left .btn_box,
    .section5 {
        display: none;
    }

    .search_section .form {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 30px;
        font-size: 12px;
    }

    .search_section label img {
        width: 17px;
        margin: 0 7px 0 0;
    }

    .search_section .form .clm,
    .search_section .purple_btn {
        margin: 0 0 20px;
    }

    .search_section .result_box .box {
        width: 100%;
        padding: 0 30px;
    }

    .d-flex {
        width: 100%;
    }

    .lightpick {
        width: 400px;
    }

    .search_section input {
        width: 185px;
        height: 45px;
    }

    .search_section .select {
        width: 288px;
        font-size: 14px;
        height: 45px;
    }

    .search_section .clm label {
        margin: 0 0 7px;
    }

    .search_section .result_box .box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .search_section .result_box .title {
        font-size: 18px;
    }

    .search_section .result_box div p,
    .search_section .result_box a {
        font-size: 14px;
    }

    .search_section .serch_res {
        flex-direction: column;
    }

    .search_section .serch_res {
        padding: 30px;
        margin: 0 0 25px;
    }

    .search_section .result_box {
        margin: 42px 0 50px;
    }

    .serch_res .left,
    .serch_res .right {
        width: 100%;
    }

    .serch_res .left .white_text {
        font-size: 20px;
        width: 143px;
    }

    .serch_res .left .img {
        height: 260px;
        margin: 0 0 35px;
    }

    .serch_res .right .box h3 {
        font-size: 20px;
    }

    .serch_res .right h1 {
        font-size: 36px;
        margin: 13px 0 20px;
        line-height: 1.1;
    }

    .serch_res .right .box:first-of-type p {
        display: none;
    }

    .serch_res .right .box .purple,
    .serch_res .right .box .purple span {
        font-size: 12px;
    }

    .serch_res .right .title {
        font-size: 10px;
    }

    .quick_info .info {
        font-size: 14px;
    }

    .serch_res .right .price_box {
        margin: 40px 0 20px;
        border: none;
        flex-direction: row;
    }

    .serch_res .price_box p {
        font-size: 36px;
        margin: 0 13px 0 0;
    }

    .serch_res .price_box span {
        font-size: 13px;
    }

    .serch_res .price_box .purple_btn {
        width: 175px;
        height: 44px;
        font-size: 17px;
        margin: 0;
    }

    .serch_res .left .black_text {
        font-size: 20px;
        width: 220px;
    }

    .serch_res .left .black_text span {
        font-size: 15px;
    }

    .search_section {
        padding: 64px 0 35px;
    }

    .search_section .guest {
        left: 0vw !important;
        width: 157%;
    }

    .search_section .guest .count:nth-of-type(3) {
        width: 41.5vw;
    }

    .quick_info {
        width: 210px;
    }

    .quick_info img {
        margin: 0 8px 0 0;
    }

    .quick_info .night_icon {
        width: 16px;
    }

    .quick_info .bed_icon {
        width: 27px;
    }

    .quick_info .user_icon {
        width: 15px;
        margin: 0 8px 0 4px;
    }

    .quick_info .wifi_icon {
        width: 20px;
    }

    .quick_info .air_icon {
        width: 20px;
    }

    .quick_info .palm_icon {
        width: 20px;
    }

    .quick_info .pool_icon {
        width: 27px;
    }
}

@media all and (max-width:500px) {
    .search_section .guest {
        left: 0vw !important;
        width: 135%;
        padding: 33px 27px;
    }

    .search_section .guest .count {
        width: 100%;
    }

    .search_section .guest .count:nth-of-type(3) {
        width: 100%;
    }

    .search_section .guest .add {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search_section .guest .black_btn {
        margin-top: 15px;
    }

    .serch_res .left .img {
        height: 52vw;
    }
}

@media all and (max-width: 425px) {
    .serch_res .price_box .purple_btn {
        width: 34vw;
        height: 9vw;
        font-size: 3.5vw;
        margin: 0;
    }

    .search_section .serch_res {
        padding: 5.2vw;
        margin: 0 0 25px;
    }

    .serch_res .price_box span {
        font-size: 3vw;
    }


    .search_section .purple_btn {
        width: 18vw;
        font-size: 6vw;
    }

    .search_section .guest {
        left: -2vw !important;
        width: 120%;
    }

    .search_section .form,
    .search_section .result_box .box {
        padding: 0 5.2vw;
    }

    .lightpick {
        left: 0 !important;
        margin: 0 1vw;
    }

}

@media all and (max-width:375px) {

    .search_section .form,
    .search_section .result_box .box {
        width: 94%;
    }

    .search_section input {
        width: 40.2vw;
    }

    .search_section .purple_btn {
        width: 20vw;
    }

    .search_section .guest .count:nth-of-type(3) {
        padding: 0;
    }

    .search_section .guest .age {
        width: 150px;
    }

    .lightpick {
        width: 313px;
        margin: 2.3vw 6vw 0;
        padding: 10px;
    }

    .lightpick__month {
        width: 100%;
    }

    .lightpick__day {
        height: 41px;
    }
}

@media all and (max-width:320px) {
    .search_section .result_box div p {
        font-size: 12px;
    }

    .serch_res .price_box p {
        font-size: 30px;
        margin: 0 13px 0 0;
    }

    .info_section .add_section div {
        width: 79%;
    }

    .search_section .guest input {
        width: 24px;
    }

    .lightpick {
        left: 0 !important;
    }
}
