h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    cursor: default;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box {
    width: 100%;
    max-width: 1445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section1 {
    padding: 14vw 0 7vw;
    background-image: url(../img/cloub_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 .container_box {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section1 .text {
    display: none;
}

.section1 form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
}

.section1 form label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
}

.section1 form label img {
    filter: invert(1);
    margin: 2px 0 0 15px;
}

.section1 form input {
    width: 320px;
    height: 78px;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: none;
    text-align: left;
    padding: 0 20px;
    color: white;
    font-size: 30.7px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 20px;
}

.section1 form input::placeholder {
    color: white;
}

.section1 form input:focus,
.section1 form input:active {
    outline: none;
}

.section1 form div:last-of-type input {
    border-right: none;
}

.section1 .purple_btn {
    font-size: 34.6px;
    font-weight: 500;
    letter-spacing: 0;
    width: 110px;
    height: 55px;
    margin-top: 35px;
    cursor: pointer;
}

.result_box {
    align-items: flex-start;
    padding: 10vw 0 21vw;
}

.result_box .filters_box {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.result_box .text {
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 67px;
}

.result_box .filters_box .text span {
    display: none;
}

.result_box .filters_box .sort {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 18px;
    margin: 0 0 28px;
    padding: 0 0 0 3px;
}

.result_box .filters_box .sort_mobile {
    display: none;
}

.result_box .filters_box .sort select {
    width: 222px;
    height: 47px;
    border: 2px solid #8739f6;
    color: #8739f6;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 20px;
    background-image: url(../img/arrow_down_purple.png);
    background-position: 93% center;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.result_box .filters_box .sort select:active,
.result_box .filters_box .sort select:focus {
    outline: none;
}

.result_box .filters_box .title_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #b3b3b3;
    padding: 0 3px;
    margin: 42px 0 0;
}


.result_box .filters_box .title_box p {
    color: #8739f6;
    font-weight: 500;
    margin: 0;
}

.result_box .filters_box .title_box label {
    margin: 0;
}



.result_box input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 13px;
    height: 13px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}

.result_box .middle {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

.result_box .slider,
.result_box .slider2,
.result_box .slider3 {
    position: relative;
    z-index: 1;
    height: 13px;
    border-radius: 20px;
}

.result_box .slider > .track,
.result_box .slider2 > .track,
.result_box .slider3 > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ebebeb;
}

.result_box .slider > .range,
.result_box .slider2 > .range,
.result_box .slider3 > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #883ff4;
}

.result_box .slider > .thumb,
.result_box .slider2 > .thumb,
.result_box .slider3 > .thumb {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    background-color: #ebebeb;
    border-radius: 50%;
    box-shadow: 0 0 03px rgba(0, 0, 0, .6);
    transition: box-shadow .3s ease-in-out;
}

.result_box .slider > .thumb.left,
.result_box .slider2 > .thumb.left,
.result_box .slider3 > .thumb.left {
    left: 25%;
    transform: translate(-5px, -1px);
}

.result_box .slider > .thumb.right,
.result_box .slider2 > .thumb.right,
.result_box .slider3 > .thumb.right {
    right: 25%;
    transform: translate(5px, -1px);
}


.result_box input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 14px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.result_box .img_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 19px;
    padding: 3px;
    font-size: 18px;
    color: #b3b3b3;
}

.result_box .img_box label {
    margin: 0;
}

.result_box .img_box .img {
    background-image: url(../img/star.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    filter: grayscale(1);
}

.result_box .radio_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 45px;
}

.checkbox {
    margin-bottom: 5px;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: #b3b3b3;
    font-size: 18px;
    cursor: pointer;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #883ff4;
    border-radius: 50%;
    margin-right: 20px;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #883ff4;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
    background-color: #883ff4;
    border-color: #883ff4;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox > input:focus + span::before {
    /*    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
    /*    border-color: #80bdff;*/
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
    border-color: #883ff4;
    background-color: #883ff4;
}

.result_box .btn_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.result_box .btn_box .btn {
    width: 165px;
    height: 47px;
}

.result_box .btn_box .purple_btn {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 75%, #8739f6 95%);
}

.result_box .result_slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 954px;
}

.result_box .result_slider .slider_hotel {
    width: 100%;
}

.result_box .result_slider .slider_hotel .slide {
    display: none;
    width: 100%;
    display: none;
    flex-direction: column;
}

.result_box .result_slider .slider_hotel .active {
    display: flex;
}

.result_box .result_slider .item {
    width: 100%;
    width: 957px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 110px;
}

.result_box .result_slider .img_block {
    width: 463px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.result_box .result_slider .img_block .bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.result_box .result_slider .img_block .stars {
    width: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0 10px 0 0;
}
.result_box .result_slider .offers
{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.result_box .result_slider .white_text {
    font-size: 24px;
    width: 170px;
    background-color: white;
    color: black;
    padding: 3px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0;
}
.result_box .result_slider .black_text {
    background-color: black;
    font-size: 24px;
    width: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: white;
    padding: 2px 0;
    letter-spacing: -1px;
    margin: 0;
}
.result_box .result_slider .black_text span {
    font-size: 18px;
    color: #b3b3b3;
    margin: 0 0 0 15px;
}

.result_box .result_slider .right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.result_box .slider_hotel h5 {
    color: #f9ac90;
    font-size: 30px;
}

.result_box .slider_hotel .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.result_box .slider_hotel .purple {
    font-size: 18px;
    color: #8739f6;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
}

.result_box .slider_hotel .purple span {
    font-size: 18px;
    color: #8739f6;
    font-weight: 400;
}

.result_box .slider_hotel .price_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #bdb4b4;
    border-top: 2px solid #bdb4b4;
    margin-top: 50px;
    padding: 10px 0;
}

.result_box .price_box div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_box .price_box p {
    color: black;
    font-size: 50px;
    margin: 0 13px 0 0;
}

.result_box .price_box span {
    color: #b3b3b3;
    font-size: 18px;
    text-align: left;
}

.result_box .price_box .purple_btn {
    width: 110px;
    height: 60px;
    font-size: 34.5px;
}

.result_box .purple_btn:hover {
    border: 2px solid #8739f6;
}

.result_box .img_block .visible {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 0 0 10px;
    background-image: url(../img/hotel1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result_box .unvisible .title {
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid white;
    padding: 0 0 7px;
    width: 100%;
    margin: 0 0 25px;
}

.result_box .unvisible {
    width: 100%;
    height: 100%;
    background-color: rgba(136, 63, 244, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}

.result_box .img_block:hover .unvisible {
    visibility: visible;
    opacity: 1;
}

.result_box .unvisible .quick_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 64%;
    color: white;
    margin-top: 15px;
}

.result_box .unvisible .quick_info .info {
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.result_box .unvisible .quick_info img {
    margin: 0 11px 0 0;
    filter: invert(1);
}

.result_box .unvisible .quick_info .night_icon {
    width: 21px;
}

.result_box .unvisible .quick_info .bed_icon {
    width: 36px;
}

.result_box .unvisible .quick_info .user_icon {
    width: 20px;
    margin: 0 13px 0 4px;
}

.result_box .unvisible .quick_info .wifi_icon {
    width: 27px;
}

.result_box .unvisible .quick_info .wifi_icon {
    width: 27px;
    margin: 0 13px 0 0;
}

.result_box .slider-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.result_box .slider-nav ul {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.result_box .slider-nav ul p {
    margin: 0;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid black;
    font-weight: 500;
}

.result_box .slider-nav li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8739f6;
}

.result_box .slider-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16%;
    cursor: pointer;
}

.result_box .slider-nav li.arrowNext {
    transform: rotate(180deg);
}

.section3 {
    padding: 7vw 0;
    background-image: url(../img/BG1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 .left {
    width: 507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 0;
}


.section3 h1 {
    margin: 15px 0 44px;
    font-family: RecklessNeue;
    letter-spacing: 1px;
}

.section3 .text {
    font-size: 16px;
    margin-top: 65px;
}

.section3 .item {
    width: 510px;
    /*    height: 539px;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 21px 22px;
    letter-spacing: -1px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    margin: 0 160px 0 0;
}

.section3 .item h5 {
    font-size: 24px;
    color: #f9ac90;
    font-weight: 300;
    margin: 0 0 10px;
}

.section3 .item .img_block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.section3 .item .img_block img {
    width: 100%;
}

.section3 .item .img_block p {
    width: 170px;
    text-align: center;
    background: white;
    color: black;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0;
    margin: 0;
}

.section3 .item .img_block .black {
    background-color: black;
    color: white;
}

.section3 .item h2 {
    color: black;
    font-size: 38px;
    font-weight: 300;
    margin: 17px 0;
    line-height: inherit;
    overflow: hidden;
}

.section3 .item div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section3 .price_mem {
    color: #8739f6;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin: 0;
}

.section3 .price_mem span {
    text-decoration: line-through;
    font-weight: 300;
}

.section3 .item .stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.section3 .item .price_box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
}

.section3 .price_box p {
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 300;
    margin: 0 0 10px;
}

.section3 .price_box h1 {
    margin: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.section3 .price_box h1 span {
    font-size: 24px;
    color: #b3b3b3;
    font-weight: 300;
}

.section3 .details {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 170px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 9px;
    font-weight: 300;
    transition: all .5s;
    transition: border 0s;
    border: 2px solid black;
}

.section3 .details:hover {
    background: white;
    color: black;
}

.section3 .item .details:hover {
    background: #8739f6;
    background: linear-gradient(90deg, #8739f6 25%, #a849fc 55%);
    border: 2px solid transparent;
    color: white;
}

@media all and (max-width:1440px) {
    .container_box {
        max-width: 1280px;
    }

    .result_box .filters_box {
        width: 300px;
    }

    .result_box .result_slider {
        width: 890px;
    }

    .result_box .result_slider .item {
        width: 100%;
    }

    .result_box .result_slider .img_block {
        height: 367px;
    }
    .result_box .btn_box .btn {
    width: 145px;
    height: 47px;
}
}

@media all and (max-width:1280px) {
    .section1 .container_box {
        max-width: 900px;
        flex-wrap: wrap;
        align-items: center;
    }

    .section1 form div:nth-of-type(3),
    .section1 form div:nth-of-type(4) {
        margin-top: 30px;
    }

    .section1 form div:nth-of-type(2) input {
        border-right: none;
    }

    .container_box {
        max-width: 1000px;
    }

    .result_box .result_slider {
        width: 730px;
    }

    .result_box .filters_box .sort {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .result_box .btn_box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .result_box .btn_box .btn {
    width: 165px;
    height: 47px;
}

    .result_box .btn_box .purple_btn {
        margin-top: 20px;
    }

    .result_box .filters_box {
        width: 235px;
    }

    .result_box .filters_box .sort select {
        width: 100%;
    }

    .result_box .result_slider .img_block {
        width: 446px;
    }

    .section3 .item {
        margin: 0;
    }

    .section3 .item {
        width: 458px;
    }

    .section3 .left {
        width: 467px;
    }
}

@media all and (max-width:800px) {
    .section1 {
        padding: 186px 0 65px;
    }

    .section1 .text {
        display: flex;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 40px;
    }

    .section1 form label {
        font-size: 11px;
        padding: 0 5px;
    }

    .section1 form input {
        width: 194px;
        height: 48px;
        padding: 0 15px;
        font-size: 18.6px;
        margin-top: 10px;
    }

    .section1 .container_box {
        max-width: 390px;
    }

    .section1 .purple_btn {
        font-size: 29.6px;
        width: 90px;
        height: 50px;
        margin-top: 55px;
    }

    .container_box {
        max-width: 450px;
    }

    .result_box {
        background-color: #ececec;
        padding: 60px 0 85px;
    }

    .result_box .container_box {
        flex-direction: column;
    }

    .result_box .filters_box,
    .result_box .result_slider,
    .result_box .result_slider .img_block {
        width: 100%;
    }

    .result_box .filters_box .sort2,
    .result_box .filters_box .title_box,
    .result_box .img_box,
    .result_box .middle,
    .result_box .radio_box,
    .result_box .btn_box,
    .section3 .text {
        display: none;
    }

    .result_box .filters_box .sort select {
        background-color: transparent;
    }

    .result_box .result_slider .item {
        flex-direction: column;
        padding: 30px;
        background-color: white;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
        margin: 0 0 35px;
    }

    .result_box .result_slider .white_text {
        font-size: 20px;
        width: 140px;
        padding: 3px 0;
    }

    .result_box .slider_hotel h5 {
        font-size: 20px;
        margin: 30px 0 10px;
    }

    h1 {
        font-size: 36px;
    }

    .result_box .slider_hotel .purple span,
    .result_box .slider_hotel .purple {
        font-size: 14px;
    }

    .result_box .slider_hotel .box {
        margin-top: 25px;
    }

    .result_box .slider_hotel .price_box {
        border: none;
        margin-top: 50px;
        padding: 0;
    }

    .section3 .container_box {
        flex-direction: column-reverse;
    }

    .section3 .left {
        width: 100%;
        padding: 42px 31px 0;
    }

    .result_box .text {
        font-size: 18px;
        margin: 0 0 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .result_box .filters_box .text span {
        display: block;
    }

    .result_box .result_slider .text {
        padding: 0 30px;
        justify-content: flex-start;
    }

    .result_box .result_slider .text span {
        margin: 0 5px;
    }

    .result_box .text img {
        cursor: pointer;
    }

    .result_box .filters_box {
        padding: 0 30px;
    }

    .result_box .filters_box .sort {
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        width: 65%;
    }

    .result_box .filters_box .sort select {
        width: 185px;
        height: 40px;
        font-size: 12px;
    }

    .result_box .price_box p {
        font-size: 42px;
        margin: 0 10px 0 0;
    }

    .result_box .price_box span {
        font-size: 15px;
    }

    .result_box .price_box .purple_btn {
        width: 90px;
        height: 45px;
        font-size: 29px;
    }

    .result_box .result_slider .img_block {
        height: 257px;
    }

    .result_box .slider-nav ul {
        width: 370px;
        margin-top: 55px;
    }

    .result_box .slider-nav ul p {
        margin: 0 0 0 80px;
    }

    .result_box .filters_box .sort_mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        color: #b3b3b3;
        font-size: 14px;
    }

    .result_box .filters_box .sort_mobile div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 43px;
    }

    .result_box .sort_mobile div p {
        color: white;
        font-size: 12px;
        height: 37px;
        width: 139px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        border-radius: 20px;
        background-color: #8739f6;
        margin: 0 10px 13px 0;
        cursor: pointer;
    }

    .result_box .sort_mobile div p:nth-of-type(2n+2) {
        margin: 0 0 13px;
    }

    .section3 {
        padding: 75px 0;
    }

    .section3 h1 {
        margin: 25px 0 62px;
        font-size: 36px;
    }

    .section3 .item .details {
        width: 144px;
        height: 38px;
        font-size: 13.3px;
        margin: 0 0 9px;
        font-weight: 300;
    }

    .section3 .item {
        margin: 0 auto;
        padding: 15px 16px;
        width: 420px;
    }

    .section3 .item h5 {
        font-size: 20px;
        margin: 0 0 10px;
    }

    .section3 .item .img_block p {
        width: 142px;
        font-size: 20px;
        padding: 2px 0;
    }

    .section3 .item h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section3 .price_mem {
        font-size: 14px;
    }

    .section3 .item .stars {
        width: 115px;
    }

    .section3 .item .price_box {
        margin-top: 40px;
    }

    .section3 .price_box p {
        font-size: 16px;
        margin: 0 0 5px;
    }

    .section3 .price_box h1 {
        margin: 0 5px 0 0;
        font-size: 40px;
    }

    .section3 .price_box h1 span {
        font-size: 20px;
    }
}

@media all and (max-width:425px) {
    .container_box {
        max-width: 90vw;
    }

    .section3 .item {
        width: 100%;
    }

    .result_box .sort_mobile div p {
        height: 37px;
        width: 127px;
    }

    .result_box .filters_box {
        padding: 0 10px;
    }

    .result_box .filters_box .sort {
        width: 76%;
    }

    .result_box .result_slider .text {
        padding: 0 10px;
    }
}

@media all and (max-width:375px) {
    .section1 {
        padding: 135px 0 65px;
    }

    .section1 form div {
        margin-top: 20px;
    }

    .section1 form input {
        border-right: none;
    }

    .result_box .filters_box .sort {
        width: 100%;
    }

    .result_box .slider_hotel .price_box {
        flex-direction: column;
    }

    .result_box .price_box .purple_btn {
        margin-top: 20px;
    }

    .result_box .price_box div {
        width: 100%;
        justify-content: space-between;
    }

    .result_box .slider-nav ul p {
        margin: 0 0 0 40px;
    }

    .section3 .item .price_box {
        width: 100%;
    }

    .section3 .item div {
        flex-wrap: wrap;
    }

    .section3 .price_mem {
        width: auto;
    }

    .section3 .item .details {
        margin-top: 15px;
    }

    .section3 .left {
        width: 100%;
        padding: 42px 0 0;
    }

    .result_box .result_slider .text {
        flex-wrap: wrap;
    }
}

@media all and (max-width:320px) {
    .result_box .sort_mobile div p {
        margin: 0 0 13px;
    }
}
